/* You can add global styles to this file, and also import other style files */

html {
  background: linear-gradient(#02035d, #e80f7a);
  background-attachment: fixed;
}

* {
  font-family: 'Joystix';
  color: white;
}


@font-face {
  font-family: 'Joystix';
  font-style: normal;
  font-weight: normal;
  src:  url('/assets/fonts/JoystixMonospace.woff2') format('woff2'),
  url('/assets/fonts/JoystixMonospace.woff') format('woff');
}

.card {
  background: transparent;
  border: 4px solid white;
  cursor: pointer;
  min-height: 50px;
  min-width: 50px;
}

article {
  height: 80vh;
}

.container div {
  min-height: 50px;
  min-width: 50px;
  background-color: #02035d;
  border: 4px solid white;
  padding: 5px;
}

.pokemon-container div {
  border: 4px solid white;
  padding: 5px;
  margin-bottom: 2em;
  margin-right: 2em;

}


.pokemon-container div:nth-child(4n+1) {
  background-color: #02035d;
}


.container div:first-child, .pokemon-container div:nth-child(4n + 3) {
  background-color: #e80f7a;
}


.container div:nth-of-type(2), .pokemon-container div:nth-child(4n + 2) {
  background-color: #63e3ff;
}


.container div:last-child, .pokemon-container div:nth-child(4n)  {
  background-color: #e8c63e;
}


